body {
    font-family: sans-serif;
    padding-top: 70px;
    text-align: center;
}

hr {
    height: 1px;
    width: 50%;
    color: #000;
    background-color: #000;
}

h2 {
    text-transform: uppercase;
}

/* Home*/


/* Portfolio */

#portfolio li {
    list-style: none;
    margin: 10px 0px;
}


/* About */
#thatsMe {
  width:100px;
  height: 100px;
}

/* Contact */